build/*
dist/*
pysme.egg-info/*
src/pysme.egg-info/*
.eggs/*
*.swp
*.pyc
*.png
doc/_build/*
__pycache__/*
.ipynb_checkpoints
*.pickle
*.npy
*.pdf
!notebooks/mollow-triplets/fluorsecence-spectra.pickle
!notebooks/short_time_markov_WP_cmp_data.pickle
!notebooks/long_time_markov_WP_cmp_data.pickle
!notebooks/vacuum-collected-plot-data.pickle
!notebooks/negativity-data.pickle

